<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit page</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/pages/{slug}(slug=${page.getSlug()})}" th:object="${page}">
    <label for="title">Enter title: </label>
    <input type="text" th:field="*{title}" id="title"/>
    <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title error</div>
    <br/>
    <label for="description">Enter description: </label>
    <input type="text" th:field="*{description}" id="description"/>
    <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">description error
    </div>
    <br/>
    <label for="priority">Enter priority: </label>
    <input type="number" th:field="*{priority}" id="priority"/>
    <div style="color:red" th:if="${#fields.hasErrors('priority')}" th:errors="*{priority}">priority error
    </div>
    <br/>
<!--    <label for="published_at">Enter published_at: </label>-->
<!--    <input type="date" th:field="*{published_at}" id="published_at"/>-->
<!--    <br/>-->
    <hr/>
    <input type="submit" value="Update page"/>
</form>

</body>
</html>