<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Content management system</title>
</head>
<body>
<menu>
    <div th:each="page : ${pages}">
        <li type="circle"><strong th:text="${page.getTitle()}"></strong>
            <p><a th:text="@{/{slug}(slug=${page.getSlug()})}" th:href="@{/{slug}(slug=${page.getSlug()})}"></a></p>
            <meta th:text="${page.getDescription()}">
        </li>
        <br/><br/>
    </div>
</menu>
<br/>
<hr/>
<form action="/">
    <button>Show/Hide unpublished pages</button>
</form>
<br/>
<form action="/new">
    <button>Create new page</button>
</form>
</body>
</html>