<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${page.getTitle()}"></title>
</head>
<body>
<h1 th:text="${page.getTitle()}"></h1>
<p th:text="${page.getContent()}">
<p/>
<p>
    <time th:text="${page.getPublished_at()}"></time>
</p>
<hr/>
<form th:method="PUT" th:action="@{/{slug}(slug=${page.getSlug()})}" th:object="${page}">
    <button>Publish page</button>
</form>
<br/>
<form th:action="@{/{slug}/edit(slug=${page.getSlug()})}" th:object="${page}">
    <button>Edit page</button>
</form>
<br/>
<form th:method="DELETE" th:action="@{/{slug}(slug=${page.getSlug()})}">
    <input type="submit" value="Delete page"/>
</form>
</body>
</html>